# Ignore virtual environment
.venv/
venv/

# Ignore training runs
runs/

# Ignore large datasets
training/dataset/
training/pictures/

# Ignore cache files
*.cache
*.DS_Store

# Ignore compiled files
__pycache__/
*.pyc

# Optional: ignore weights except best.pt
training/*.pt
